# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE Files
.idea/
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

# Log Files
*.log

# Environment Variables
.env